body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}
.half-width{
    width: 50%;
    
    margin-bottom: 50px;
}
.large-text{
    font-family: 'Yeseva One', cursive;
    font-size: 55px;
    font-weight: 200;
    color: rgb(65, 62, 62);
    word-spacing: 5px;
}
.orange{
    color: orange;
    font-size: 55px;
    font-weight: 400;
}
.half-width img{
    width: 300px;
    height: 350px;
}

.half-width p{
    text-align: justify;
}

.half-width a{
    text-decoration: none;
    background-image: linear-gradient(rgb(247, 101, 133),rgb(243, 58, 113));
    height: 60px;
    padding: 10px 30px;
    border-radius: 5%;
    border-bottom: 4px solid red;
    color: white;
}
.color{
    color: orange;
}

.second_section h2{
    text-align: center;
    font-size: 40px;
}
.second_section img{
    width: 100px;
    height: 100px;
}

.three-width{
    width: 250px;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 3px 3px 10px gray;
    border-radius: 5%;

}
.bg-blue{
    background-color: rgb(218, 245, 245);
}

.bg-pink{
    background-color: rgb(250, 227, 231);
}
.bg-yellow{
    background-color: rgb(239, 241, 200);
}
.three-width p{
    text-align: left;
}